---

services:
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    volumes:
      - ${VOLUME_PATH}/plex-config:/config
      - ${MEDIA_VOLUME_PATH}/media:/data
    environment:
      - PUID=1000
      - PGID=1000
      - VERSION=docker
    ports:
      - 32400:32400
    restart: unless-stopped

  overseerr:
    image: lscr.io/linuxserver/overseerr:latest
    container_name: overseerr
    ports:
      - "5055:5055"
    volumes:
      - ${VOLUME_PATH}/overseerr-config:/app/config
    environment:
      - LOG_LEVEL=info
    restart: unless-stopped

  radarr:
    image: linuxserver/radarr:latest
    container_name: radarr
    ports:
      - "7878:7878"
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - ${VOLUME_PATH}/radarr-config:/config
      - ${MEDIA_VOLUME_PATH}/media:/media
      - ${MEDIA_VOLUME_PATH}/downloads:/downloads
    restart: unless-stopped

  sonarr:
    image: linuxserver/sonarr:latest
    container_name: sonarr
    ports:
      - "8989:8989"
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - ${VOLUME_PATH}/sonarr-config:/config
      - ${MEDIA_VOLUME_PATH}/media:/media
      - ${MEDIA_VOLUME_PATH}/downloads:/downloads
    restart: unless-stopped

  tautulli:
    image: tautulli/tautulli:latest
    container_name: tautulli
    ports:
      - "8181:8181"
    volumes:
      - ${VOLUME_PATH}/tautulli-config:/config
    environment:
      - PLEX_URL=http://plex:32400
      - PUID=1000
      - PGID=1000
    restart: unless-stopped

  bazarr:
    image: linuxserver/bazarr:latest
    container_name: bazarr
    ports:
      - "6767:6767"
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - ${VOLUME_PATH}/bazarr-config:/config
    restart: unless-stopped

  jackett:
    container_name: jackett
    image: linuxserver/jackett
    restart: unless-stopped
    ports:
      - 9117:9117
    volumes:
      - ${VOLUME_PATH}/jackett:/config
    environment:
      - PUID=1000
      - PGID=1000

  vpn:
    container_name: GlueTun-vpn
    image: qmcgaw/gluetun
    cap_add:
      - NET_ADMIN
    ports:
      - 8112:8112 ##qbit
      - 6881:6881 ##qbit
      - 6881:6881/udp #qbit
    environment:
      - VPN_SERVICE_PROVIDER=${VPN_SERVICE_PROVIDER}
      - OPENVPN_USER=${OPENVPN_USER}
      - OPENVPN_PASSWORD=${OPENVPN_PASSWORD}
      - SERVER_REGIONS=${SERVER_REGIONS}
      - VPN_TYPE=${VPN_TYPE}

  qbittorrent:
    container_name: qbittorrent
    image: lscr.io/linuxserver/qbittorrent:latest
    network_mode: service:vpn
    depends_on:
      - vpn
    restart: unless-stopped
    environment:
      - PUID=0
      - PGID=0
      - WEBUI_PORT=8112
    volumes:
      - ${VOLUME_PATH}/qbittorrent/config:/config
      - ${MEDIA_VOLUME_PATH}/downloads:/downloads
